* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    margin: 0;
    background: url("https://img.xjh.me/random_img.php?type=bg&ctype=nature&return=302") fixed center;
    background-size: cover;
    overflow-x: hidden;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    word-wrap: break-word;
    word-break: break-all;
}

.header{
    color: azure;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: left;
    text-indent: 50px;
    letter-spacing: 2px;
    padding: 40px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
}

.header a{
    color: azure;
    text-decoration: none;
}

.header a h1{
    display: inline;
}

.topnav{
    overflow: hidden;
    background-image: linear-gradient(rgb(225, 225, 225),rgb(200, 200, 200),rgb(225, 225, 225));
}

.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: darkgray;
    color: aliceblue;
}

.mainpage{
    min-height: 1080px;
    margin: 0 auto;
    width: 100%;
}

.mainpage::after{
    content: "";
    display: table;
    clear: both;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}