.column{
    float: left;
    padding: 10px;
}

.column.left{
    width: 70%;
}

.column.right{
    width: 30%;
}

.card{
    background-color: white;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 6px;
}

@media only screen and (min-width: 1200px) {
    .mainpage {
      max-width: 1200px;
    }
  }