.playcard{
    width:100px;
    height:100px;
    background-image: linear-gradient(45deg, red, yellow);
    position: relative;
    left: 25%;
    animation:pcani 5s linear 2s infinite alternate;
    /* Firefox: */
    -moz-animation:pcani 5s linear 2s infinite alternate;
    /* Safari and Chrome: */
    -webkit-animation:pcani 5s linear 2s infinite alternate;
}

@keyframes pcani{
    0% {background-image: linear-gradient(45deg, red, yellow); top: 0px; transform: rotate(0deg);}
    25% {background-image: linear-gradient(135deg, yellow, green); top: 200px; transform: rotate(90deg);}
    50% {background-image: linear-gradient(225deg, green, blue); top: 400px; transform: rotate(180deg);}
    75% {background-image: linear-gradient(315deg, blue, red); top: 200px; transform: rotate(270deg);}
    100% {background-image: linear-gradient(45deg, red, yellow); top: 0px; transform: rotate(360deg);}
}

@-moz-keyframes pcani{
    0% {background-image: -moz-linear-gradient(45deg, red, yellow); top: 0px; transform: rotate(0deg);}
    25% {background-image: -moz-linear-gradient(135deg, yellow, green); top: 200px; transform: rotate(90deg);}
    50% {background-image: -moz-linear-gradient(225deg, green, blue); top: 400px; transform: rotate(180deg);}
    75% {background-image: -moz-linear-gradient(315deg, blue, red); top: 200px; transform: rotate(270deg);}
    100% {background-image: -moz-linear-gradient(45deg, red, yellow); top: 0px; transform: rotate(360deg);}
}

@-webkit-keyframes pcani{
    0% {background-image: -webkit-linear-gradient(45deg, red, yellow); top: 0px; -webkit-transform: rotate(0deg);}
    25% {background-image: -webkit-linear-gradient(135deg, yellow, green); top: 200px; -webkit-transform: rotate(90deg);}
    50% {background-image: -webkit-linear-gradient(225deg, green, blue); top: 400px; -webkit-transform: rotate(180deg);}
    75% {background-image: -webkit-linear-gradient(315deg, blue, red); top: 200px; -webkit-transform: rotate(270deg);}
    100% {background-image: -webkit-linear-gradient(45deg, red, yellow); top: 0px; -webkit-transform: rotate(360deg);}
}